@import url(https://fonts.bunny.net/css?family=barlow:300,400,600,700&display=swap);
@import 'tailwindcss';

@theme {
  --font-sans:
    'Barlow', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono:
    'Noto Sans Mono', 'Monaco', 'Liberation Mono', 'JetBrains Mono',
    ui-monospace, monospace;

  --breakpoint-xl: initial;
  --breakpoint-2xl: initial;
}

.content h1 {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 700;
}

.content h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.content h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 700;
}

.content h4 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
}

.content p {
  margin-bottom: 1rem;
}

.content p:last-child {
  margin-bottom: 0;
}

.content pre {
  margin-top: 1rem;
  margin-bottom: 2rem;
  overflow-x: auto;
  border-radius: 0.125rem;
  background-color: #f8fafc;
  padding: 1rem;
  font-family: var(--font-mono);
}

.content pre code {
  border-radius: 0.125rem;
  color: #475569;
}

.content :not(pre) > code {
  border-radius: 0.125rem;
  border-width: 2px;
  border-style: dashed;
  border-color: #e2e8f0;
  background-color: rgb(240 249 255 / 0.5);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  font-size: 1rem;
}

.content ul {
  margin-bottom: 1rem;
  list-style-type: disc;
  padding-left: 1rem;
}

.content ol {
  margin-bottom: 1rem;
  list-style-type: decimal;
  padding-left: 1rem;
}

.content ul li,
.content ol li {
  word-break: break-all;
}

.content a {
  color: #0369a1;
  text-decoration: underline;
}

.content a:hover {
  color: #075985;
}

.content img {
  margin-bottom: 1rem;
  display: block;
  border-radius: 0.125rem;
}

.content hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-color: #e0f2fe;
}

.content blockquote {
  margin-bottom: 1rem;
  border-top-right-radius: 0.125rem;
  border-bottom-right-radius: 0.125rem;
  border-left-width: 4px;
  border-left-color: #e0f2fe;
  background-color: rgb(240 249 255 / 0.5);
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 1rem;
}
